header {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        .hambergerIcon {
            width: 40px;
            position: relative;
            cursor: pointer;
            z-index: 99;
            span {
                background: #494949;
                height: 5px;
                border-radius: 5px;
                display: block;
                &:nth-child(2) {
                    margin: 5px 0px;
                }
            }
        }
    }
    aside {
        position: fixed;
        top: 0px;
        height: 100%;
        background: #000;
        color: #fff;
        width: 200px;
        -webkit-animation: slide 0.5s backwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.5s backwards;
        animation-delay: 2s;
        transition: 1s;
        right: -200px;
        transform: translateX(0px);
        ul {
            padding-left: 0px;
            margin-top: 50px;
            li {
                list-style: none;
                margin-bottom: 0px;
                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    background: #000;
                    &:hover {
                        background: #d1d1d1;
                    }
                }
            }
        }
        &.in {
            transition: 1s;
            -webkit-animation: slide 0.5s forwards;
            -webkit-animation-delay: 2s;
            animation: slide 0.5s forwards;
            animation-delay: 2s;
            transform: translateX(-200px);
        }
    }
}