<header>
    <nav>
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <span class="hambergerIcon" (click)="toggleState()" [ngClass]="{ 'in': isIn }">
          <span></span>
        <span></span>
        <span></span>
        </span>
    </nav>
    <aside [ngClass]="{ 'in': isIn }">
        <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Home</a></li>
        </ul>
    </aside>
</header>